{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<!-- <img src="/home/shivilao/invoice/static/gstbillingapp/images/shivilaLogoImg.png" height="50px" width="100px" alt=""> &nbsp; -->
	<img src="../static/gstbillingapp/images/shivilaLogoImg.png" height="50px" width="100px" alt=""> &nbsp;
	<a class="navbar-brand" href="{% url 'landing_page' %}">Invoice & GST Billing</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'invoice_create' %}">New Invoice <span
						class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'invoice_creates' %}">New Unpaid Invoice <span
						class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'invoices' %}">Invoices</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'invoicess' %}">Unpaid Invoices</a>
			</li>
			<!-- <li class="nav-item">
				<a class="nav-link" href="{% url 'inventory' %}">Inventory</a>
			</li> -->
			<!-- <li class="nav-item">
				<a class="nav-link" href="{% url 'books' %}">Books</a>
			</li> -->
			<li class="nav-item">
				<a class="nav-link" href="{% url 'customers' %}">Customers</a>
			</li>
			<!-- <li class="nav-item">
				<a class="nav-link" href="{% url 'products' %}">Products</a>
			</li> -->
			<li class="nav-item">
				<a class="nav-link" href="{% url 'user_profile' %}">Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}?next=/">Logout</a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>